/* Font from google font  */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* common section styles  */

* {
  font-family: "Work Sans", system-ui;
}
header {
  background-color: rgba(255, 228, 196, 0.466);
}
.common-button {
  border-radius: 8px;
  border: 0;
  background-color: #ff900e;
  max-width: 180px;
  padding: 1.25rem 1.5rem;
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-top: 2rem;
}
/* header section styles  */
header {
  padding: 50px 240px;
}
/* nav section styles  */
nav {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
  display: inline;
  margin-right: 30px;
}
nav a {
  text-decoration: none;
  color: #424242;
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
}
/* header rest body styles  */
.header-title {
  max-width: 860px;
  margin: 100px auto;
  text-align: center;
}
.common-title {
  font-size: 4rem;
  font-weight: 700;
}
.common-description {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
}
.banner-img {
  width: 100%;
}
/* body section styles  */
/* team section styles */
.team {
  display: flex;
  margin: 50px 300px;
}
.team-pic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-text {
  max-width: 640px;
  margin: auto 0 auto 70px;
}
.team-quick {
  color: #727272;

  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
}
.team-our {
  color: #131313;

  font-size: 2.8rem;

  font-weight: 700;
}
.team-features {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}
/* features section styles  */
.features {
  display: flex;
  margin: 50px 240px;
}
.features-section {
  width: 40%;
  margin-right: 140px;
}
.card {
  border-radius: 8px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin: 20px;
}
.card-title {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}
.feature-title {
  border-left: 8px solid #ff900e;
  padding-left: 20px;
}
.feature-descrip {
  padding-right: 50px;
}

.features-div {
  background-color: #ff900e;
  width: 342px;
  border-radius: 8px;
  padding: 46px 40px;
  position:relative;
  bottom: 150px;
  right: 100px;
}
.feature-year {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.feature-text {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

/* small section responsive styles  */

@media screen and (max-width: 576px) {
  nav,
  .team {
    flex-direction: column;
  }
  header {
    padding: 20px;
  }
  .header-title {
    max-width: 300px;
    margin: 0px;
  }
  .team-pic {
    display: grid;
    grid-template-columns: 1fr;
  }
  .team {
    margin: 10px;
  }
  .team-text {
    margin: auto;
  }
}

/* Medium device responsive styles  */
@media screen and (min-width: 576px) and (max-width: 920px) {
  nav,
  .team {
    flex-direction: column;
  }
  .nav-title {
    text-align: center;
  }
  nav ul {
    text-align: center;
  }
  header {
    padding: 20px;
  }
  .header-title {
    max-width: 660px;
    margin: 10px auto;
    text-align: center;
  }
  .team-pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    max-width: 650px;
  }
  .team-pic img {
    width: 100%;
  }
  .team {
    margin: 0px;
  }
}
